@charset "utf-8";
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*전체 태그들의 마진, 패딩 초기화 및 글꼴 설정*/
*{
    margin: 0;
    padding: 0;
    font-family: 'HakgyoansimWoojuR';
    font-size: 30px;
    color: #2A343D;
}
/*a, li태그 default deco 삭제*/
a{
    color: #2A343D;
    text-decoration: none;
}
li{
    list-style: none;
}
/*전체 화면 지정*/
html, body{
    width: 100%;
    height: 100%;
    min-height: 630px;
}
#wrap{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
/*헤더*/
header{
    width: 100%;
    height: 10%;
    /* color: ; */
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*메인 - 진행바, 결제과정, 다음버튼*/
main{
    width: 100%;
    height: 90%;
}
.statusBar{ /*결제 진행바, 틀만 작업*/
    width: 80%;
    max-width: 500px;
    height: 10%;
    margin: 0 auto;
    border: solid 1px #ddd;
}
.steps{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: gray; */
    position: relative;
}
.steps .circle{
    width: 40px;
    height: 40px;
    border: 4px solid #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: bold;
    color: #999;
    background-color: #fff;  
    transition: all 200ms ease;
    transition-delay: 0s;
}
.steps .circle.active{
    border-color: #FDAF96;
    color: #FDAF96;
    transition-delay: 100ms;
}
.steps .progress-bar{
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #e0e0e0;
    z-index: -1;
}
.progress-bar .indicator{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #FDAF96;
    transition: all 300ms ease;
}


.paymentList{
    width: 100%;
    max-width: 710px;
    min-width: 285px;
    margin: 0 auto;
    height: 73%;
    overflow: hidden;
}
.paymentList ul{
    width: 500%;
    height: 100%;
    position: relative;
    left: 0;
    transition: 0.8s;
}
.process{
    width: 20%;
    max-width: 710px;
    min-width: 285px;
    height: 100%;
    float: left;
    position: relative;
    transition: 0.3s;
}
.process span{
    font-size: 1.1em;
    position: absolute;
    top: 2%;
    left: 2%;
}
.process div{
    width: 96%;
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    background-color: #fff5f5;
    border-radius: 15px;
    /*임시 글씨 배치 스타일*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*임시 - 모두 구현되면 결제 과정n 완료 시 버튼에 불 들어오게끔*/
.nextBtn{
    width: 60%;
    max-width: 510px;
    height: 10%;
    position: relative;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: #FFDEDE;
    color: #FDAF96;
    transition: 0.5s;
    cursor: pointer;
}
.nextBtn:hover{
    background-color: #FDAF96;
    color: #2A343D;
}
/*임시 끝*/
.nextBtn:active{
    transition: none;
    box-shadow: 1px 1px 4px 2.5px rgba(100, 100, 100, 0.3) inset;
}
.mainBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.first{
    height: 10%;
    position: absolute;
    top: 140px;

}
.second{
    height: 30%;
}
.third{
    height: 50%;
}
