@charset "utf-8";

@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,body {
  font-family: 'HakgyoansimWoojuR';
  width: 100%;
  height: 100%;
}

/*상단 검색바, 로고*/
.logo{
  display: block;
    margin: 0 auto;
}
.search{
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search form{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search form input{
  width: 75%;
  height: 90%;
  padding-left: 15px;
  border: 2px solid #FDAF96;
  border-radius: 20px;
  font-size: 0.6em;
}
.search form .btn{
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn button{
  background-color: #FDAF96;
  border: none;
  border-radius: 3px;
  width: 45%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.btn button:nth-of-type(2){
  background-color: #FFF1DB;
}

.btn button img{
  width: 70%;
  max-width: 30px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*상단 카테고리 버튼 3개*/

.btn_container{
  display: flex;
  position: relative;
}

.btn_container button, .to_btncontainer button{
  background: transparent;
  background-color: #FFF1DB;
  border: none;
  cursor: pointer;
}

.popularity{
  top: 50%;
  border: #e2dcd6 solid 3px;
  border-radius: 20px;
  padding: 3%;
  /*position: relative;*/
  background-color: #FFF1DB;
  transition: background-color 0.3s ease; /* 호버 부드럽게 설정 */
  position: relative;
  left: 18%;
}

.fastest{
  top: 50%;
  border: #e2dcd6 solid 3px;
  border-radius: 20px;
  padding: 3%;
  /*position: relative;*/
  background-color: #FFF1DB;
  transition: background-color 0.3s ease;  /*호버 부드럽게 설정 */
  position: relative;
  left: 31%;
}

.cheap{
  top: 50%;
  border: #e2dcd6 solid 3px;
  border-radius: 20px;
  padding: 3%;
  /*position: relative;*/
  background-color: #FFF1DB;
  transition: background-color 0.3s ease; /* 호버 부드럽게 설정 */
  position: relative;
  left: 44%;
}


/*상품 이미지, 소개*/
.product_container{
  display: flex;
  position: relative;
  flex-direction: column;
}


.product_1 b, .product_2 b, .product_3 b, .product_4 b{
  margin: 3%;
}

/*포도*/
.product_1{ 
  position: relative;
  margin: 2% 14% 2% 14%;
  min-height: 150px;
  border: #FFF1DB solid 10px;
  display: flex; /* 요소 내부의 요소들을 가로로 나열 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 20px; /* 내부 패딩 추가 */
  }

/*고등어*/
.product_2{
  position: relative;
  margin: 2% 14% 2% 14%;
  min-height: 150px;
  border: #FFF1DB solid 10px;
  display: flex; /* 요소 내부의 요소들을 가로로 나열 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 20px; /* 내부 패딩 추가 */
}

/*생수*/
.product_3{
  position: relative;
  margin: 2% 14% 2% 14%;
  min-height: 150px;
  border: #FFF1DB solid 10px;
  display: flex; /* 요소 내부의 요소들을 가로로 나열 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 20px; /* 내부 패딩 추가 */

}

/*감자*/
.product_4{
  position: relative;
  margin: 2% 14% 2% 14%;
  min-height: 150px;
  border: #FFF1DB solid 10px;
  display: flex; /* 요소 내부의 요소들을 가로로 나열 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 20px; /* 내부 패딩 추가 */

}

/* 즐겨찾기 별*/

.star {
  position: relative;
  width: 100%;
  left: 27%;
  top: 40%;
  cursor: pointer;
}
 
 .starContainer button{
  background-color: #fff;
  border: none;
  position: relative;
  cursor: pointer;
  left: 9%;
  width: 4%;
  top: 70px;
 }

/* 클릭 전 링크 스타일 */
a {
  text-decoration: none;
  color: #2A343D; /* 기본 링크 색상 (검정색) */
}

/* 클릭한 후 링크 스타일 */
a:visited {
  color: #2A343D; /* 방문한 링크 색상 (검정색) */
}

/* 호버(마우스를 올렸을 때) 링크 스타일 */
a:hover {
  color: #2A343D; 
}

/* 하단 버튼 두개 */

.to_btncontainer{
  display: flex;
  justify-content: center;
}

.toBookmark_btn{
  position: relative;
  top: 185%;
  left: -11%;
  border: #e2dcd6 solid 3px;
  border-radius: 20px;
  padding: 4%;
  font-size: 130%;
  background-color:#FFF1DB;
}

.toCart_btn{
  position: relative;
  top: 185%;
  left: 11%;
  border: #e2dcd6 solid 3px;
  border-radius: 20px;
  padding: 4%;
  font-size: 130%;
  background-color:#FFF1DB;
}

